{% extends 'base.html' %}

{% block content %}

<h1>Deine WG anmelden</h1>

<script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
<script src=/static/core/js/create-flat.js></script>

<link rel=stylesheet href=/static/core/css/create-flat.css />

<form method="POST" action="" class="form-horizontal">
  {% csrf_token %}
  <div class="fieldWrapper">
    {{ form.size.errors }}
    <label for="id_size">Wie viele Leute wohnen in eurer WG?</label>
    {{ form.size }}
    <script>
      document.getElementById('id_size').addEventListener('change', function() {
        var d = document.getElementById('id_size').value;
        document.getElementById('id_max_guests').value = Math.ceil(d * (d > 5 ? 0.7 : 1.2))
      });
    </script>
  </div>
  <div class="fieldWrapper">
    {{ form.max_guests.errors }}
    <label for="id_max_guests">Wie viele Gäste verträgt eure WG?</label>
    {{ form.max_guests }}
  </div>
      
  <div class="fieldWrapper">
    {{ form.address.errors }}
    <label for="id_address">Wo wohnt ihr?</label>
    <div id="locationField">
      {{ form.address }}
    </div>
  </div>

  <div id="map-container">
    <img id="logo" src="https://developers.google.com/maps/documentation/places/images/powered-by-google-on-white.png"></img>
    <div id="map"></div>
  </div>

  {{ form.location }}

  <div class="fieldWrapper">
    {{ form.name.errors }}
    <label for="id_name">Gib deiner WG einen Namen!</label>
    {{ form.name }}
    <script>document.getElementById('id_name').setAttribute('placeholder', "(optional)")</script>
  </div>

  <button type=submit class="btn btn-primary">Anmelden!</button>
</form>

{% endblock %}
