{% extends 'base.html' %}
{% load absurl %}

{% block content %}

<style type="text/css">

*.sidebar {overflow:auto; position:fixed; top:0; right:0; width:20%; height:100%; background-color:#336633; float:right;}

*.content { height:100%; min-width:960px;}


#partner { height:200px; }
#portrait { float:left; }
#details { vertical-align:top; height:100%; margin-left:5px; float:left; }

#date_options { margin-top:12px; }

*.clear { clear:both; }

*.recipe { 
    padding: 6px;
    background-color: #cccccc;
    margin-right:12px;
    margin-bottom:12px;
    float:left; }
*.recipe_list { 
    margin-top:12px;
    float:left; }
    
h1 {
	margin-top: 36px;
}
h2 {
	margin: 12px;
}


*.head_shot {
	margin-bottom:6px;
	margin-right:6px;
	width: 120px;
	float:left;
	max-height: 110px
}
*.empty_box {
	width:120px;
	height: 100px;
	background-color:#aaaaaa;
	margin-bottom:6px;
	margin-right:6px;
	float:left;
}

*.empty_box_text {
	margin: 12px;
	text-align: center;
	vertical-align: middle;
	font-size:65px;
}

*.image_container {
	width:250px;
	margin-top: 12px;
	margin-bottom: 12px;
}

#my_flat {
	float:right;
}
#other_flat {
	float:left;
}

</style>


<div class="container">
	<div class="row">
		<div id="other_flat" class="span6">
			{% if not flat.latest_pairing %}
			<h1>Noch kein Date generiert</h1>
			{% else %}
			<h1>Euer Koch-Date</h1>
			{% for flat in flat.latest_pairing.flats.all %}
      		{% if flat != user.flat %}
      		<h2>{{ flat.name }}</h2>
			<p>Wohnen hier: <a href="{{gmaps_url}}">{{ flat.address }}</a></p>
      		{% for flatmate in flat.flatmates.all %}
      		<div class="head_shot thumbnail">
				<img class="img_scale_horizontal" src="{{ flatmate.image.url }}"></img>
				<strong>{{ flatmate.facebook_name }}</strong>
			</div>
			{% endfor %}
		    <div class="clear"></div>
			{% endif %}
			{% endfor %}
			{% endif %}
		</div>
		<div id="my_flat" class="span6">
			<h1>Ihr</h1>
			<h2>{{ flat.name }}</h2>
			{% for person in flat.flatmates.all %}
			<div class="head_shot thumbnail">
				<img class="img_scale_horizontal" src="{{ person.image.url }}"></img>
		    	<strong>{{ person.facebook_name }}</strong>
		    </div>
		    {% endfor %}
		    {% for i in range%}
		    <div class="empty_box thumbnail">
		    	<p class="empty_box_text">?</p>
		    </div>
		    {% endfor %}
		    <div class="empty_box thumbnail">
		    	<p class="empty_box_text">?</p>
		    </div>
		    <div class="empty_box thumbnail">
		    	<p class="empty_box_text">?</p>
		    </div>
		    <div class="clear"></div>
		    <pre class="span4" style="float:left;">{% absurl join_flat flat.token %}</pre>
		</div>
	</div>
	{% if flat.latest_pairing %}
      	      <div class="clear"></div>
      <div id="date_options">
      <h1>Zeitplanung</h1>
      <h2>Gib ein, wann du Zeit hast - wenn alle abgestimmt haben, kann's los gehen.</h2>
        <form method=post action="{% url dashboard_save_schedule %}">
        {% csrf_token %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              {% for day in latest_pairing_date_candidates.keys %}
                <th>{{ day|date:"D, d. M" }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for flat in latest_pairing.flats.all %}
              {% for flatmate in flat.flatmates.all %}
                {% if flatmate != user and flatmate.has_entered_schedule_for_latest_pairing %}
                <tr>
                  <td>{{ flatmate.facebook_name }}</td>
                  {% for candidate in flatmate.get_start_time_candidates_for_latest_pairing %}
                    <td>
                      {% if candidate.time %}
                      kann ab {{ candidate.time|time }}</td>
                      {% else %}
                      -
                      {% endif %}
                  {% endfor %}
                </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}

              <tr>
                <td>{{ user.facebook_name }}</td>
                {% for candidate in user.get_start_time_candidates_for_latest_pairing %}
                  <td>
                    da kann ich ab
                    <input style="width:60px;"
                    	   maxlength="5" name="start_time"
                           value="{% if candidate.time %}{{ candidate.time|time }}{% endif %}"
                           placeholder="hh:mm"/>
                  </td>
                {% endfor %}
              </tr>

              <tr>
                <td>Gesamt</td>
                {% for day, stuff in latest_pairing_date_candidates.items %}
                  <td>
                    {{ stuff.votes }}/{{ latest_pairing.get_all_flatmates|length }}, ab {{ stuff.start|time }}
                  </td>
                {% endfor %}
              </tr>
          </tbody>
        </table>
        <input type=submit class="btn" value="Zeitplan speichern" />
        </form>

      </div>
      <div class="recipe_list">
      <h1>Essensplanung</h1>
      {% if not user.count_votes_left %}
      <h2>Du hast schon alle deine Votes genutzt.</h2>
      {% else %}
      <h2>Du hast nocht {{user.count_votes_left}} Votes!</h2>
      {% endif %}
      	{% for recipe in flat.latest_pairing.all_recipes %}
      	<div class="recipe thumbnail">
      		<h3>{{ recipe.name }}</h3>
      		<h4>({{ recipe.owner.get_profile.facebook_name }})</h4>
      		<div class="image_container thumbnail">
	      		<img class="img_scale_horizontal" src={{ recipe.image_url }} alt={{ recipe.name }}></img>
      		</div>
      		<p>{{ recipe.desc }}</p>
      		<h2>{{ recipe.votes }}</h2> 
      		
      		<button onclick="window.location.href='{% url vote_for_recipe recipe.id %}'" {{ user.can_vote_on_current_pairing|yesno:",disabled" }} class="btn">Will ich kochen!</button>
      	</div>
      	{% endfor %}
      	<div class="recipe thumbnail">
      		<h3><a href="{% url add_recipe %}">Neues Rezept!</a></h3>
      		<div class="image_container thumbnail">
	      		<a style="font-size:160px; " href="{% url add_recipe %}">+</i></a>
    		</div>
      		<p><a href="{% url add_recipe %}">Füge ein neues Lieblingsrezept hinzu!</a></p>
      	</div>
      </div>
    </div>
    {% endif %}
</div>
    
{% endblock %}
