{% extends 'base.html' %}

{% load absurl %}

{% block content %}

<style type="text/css">
td { border: 1px solid black; }
*.day { 
    background-color:#dddddd; 
    width:9%; 
    min-width:105px; 
    min-height:150px;
    padding:5px; 
    float:left;
    border-width:1px;
    border-right-style:solid;
    border-bottom-style:solid;
    margin-right:12px;
    }
*.sidebar {overflow:auto; position:fixed; top:0; right:0; width:20%; height:100%; background-color:#336633; float:right;}

*.content { height:100%; min-width:960px;}


#partner { height:200px; }
#portrait { float:left; }
#details { vertical-align:top; height:100%; margin-left:5px; float:left; }
h1 { margin-top:12px; padding-top:0px;}
h2 { margin-top:0px; }
#date_options { margin-top:12px; }

*.clear { clear:both; }

*.test { 
    width:250px;
    height:250px;
    margin-right:12px;
    margin-bottom:12px;
    background-color:#dd0000;
    float:left; }
*.recipes { 
    margin-top:12px;
    padding-right: 80px;
    float:left; }
    
*.img_scale_horizontal {
	text-align: center;
	width: 100%;
}

*.img_scale_vertical {
	vertical-align: middle;
	height: 100%;
}
    
#my_flat {
	position: fixed;
	background-color:#005500;
	float:right;
	right:0;
	top:0;
	width:80px;
	padding:6px;
}

*.head_shot {
	margin-bottom:6px;
}
*.empty_box {
	background-color:#aaaaaa
	margin-bottom:6px;
}

*.empty_box_text {
	margin: 0px;
	text-align: center;
	vertical-align: middle;
	font-size:60px;
}

</style>


<div class="content">
    <div id="my_flat">
    {% for person in flat.flatmates.all %}
    	<div class="head_shot">
    		<img class="img_scale_horizontal" src="{{ person.image.url }}"></img>
    	</div>
    	{% endfor %}
    	{% for i in range%}
    	<div class="empty_box">
    		<p class="empty_box_text">?</p>
    	</div>
    	{% endfor %}
    </div>
    {% if not flat.latest_pairing %}
      <h1>Noch kein Date generiert</h1>
    {% else %}
      <div id="partner">
          <h1>WG-Dinner mit...</h1>
          <img class="img_scale_vertical" id="portrait" src="foo.JPG" />
          <div id="details">
            {% for flat in flat.latest_pairing.flats.all %}
              {% if flat != user.flat %}
                <h2>{{ flat.name }}</h2>
                <ul>
                  {% for flatmate in flat.flatmates.all %}
                    <li>{{ flatmate.facebook_name }}</li>
                  {% endfor %}
                </ul>
                <p>Wohnen hier: {{ flat.address }}</p>
              {% endif %}
            {% endfor %}
          </div>
          <div id="map">
              
          </div>
      </div>
      <div class="clear"></div>
      <div id="date_options">
        <form method=post action="{% url dashboard_save_schedule %}">
        {% csrf_token %}
        <table>
          <thead>
            <tr>
              <td></td>
              {% for date in latest_pairing_date_candidates %}
              <td>{{ date.day|date:"D, d. M" }}</td>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for flat in latest_pairing.flats.all %}
              {% for flatmate in flat.flatmates.all %}
                {% if flatmate != user and flatmate.has_entered_schedule_for_latest_pairing %}
                <tr>
                  <td>{{ flatmate.facebook_name }}</td>
                  {% for candidate in flatmate.get_start_time_candidates_for_latest_pairing %}
                    <td>kann ab {{ candidate.time }}</td>
                  {% endfor %}
                </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}

              <tr>
                <td>{{ user.facebook_name }}</td>
                {% for candidate in user.get_start_time_candidates_for_latest_pairing %}
                  <td>
                    kann ab
                    <input maxlength="5" name="start_time"
                           value="{% if candidate.time %}{{ candidate.time|time:"H:i"}}{% else %}18:00{% endif %}" />
                  </td>
                {% endfor %}
              </tr>
          </tbody>
        </table>
        <input type=submit value="Zeitplan speichern" />
        </form>

      </div>
    </div>
    {% endif %}
</div>
    
{% endblock %}

<!--<h1>Willkommen {{ user.facebook_name }}</h1>

<h2>Deine WG</h2>
<tt>{% absurl join_flat flat.token %}</tt>
<ul>
  {% for person in flat.flatmates.all %}
    <li>
      <img src="{{ person.image.url }}" />
      {{ person.facebook_name }}
    </li>
  {% endfor %}
</ul>-->
