body {
  padding: 0; margin: 0;
  background-color:#fefefe;
  font-size:10pt; 
  font-family:arial,verdana,helvetica,sans-serif;
  text-align:center;
}

h3 {
    margin-top:4px;
    text-align:left;
    background-image:url(/static/core/test.png);
    background-repeat:repeat-x;
    background-position:bottom;
    padding-bottom:8px;
    padding-left:4px;
    margin-left:4px; margin-right:8px;
}

*.img_scale_horizontal {
	text-align: center;
	width: 100%;
}

*.img_scale_vertical {
	vertical-align: middle;
	height: 100%;
}

#wrapper {
  padding: 30px 50px;
}

#header {
  border-bottom: 1px solid #ccc;
  height: 85px;
}
#header #logo { float: left; height: 100px; }
#header #avatar { float: right; height: 85px; }
