*.clear { clear:both; }

#map {
  height: 400px;
  width: 60%;
  border: 1px solid #333;
  margin-top: 0.6em;
  margin-left: 20%;
}

#map-container {
  display: none;
}

#id_address {
  min-width:300px;
}

#id_location { display: none; }

.fieldWrapper {
  padding: 10px 0;
}

.errorlist {
  list-style-type: none;
}
.errorlist li { margin: 0; padding: 0; color: red;}

button {
  margin-top: 50px;
  font-size: 14pt !important;
  padding: 20px 30px !important;
}
